@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/variables.less';
@import (reference) '../../../../styles/custom/spacing/sections.less';
@import (reference) '../../../../styles/custom/spacing/dividers.less';


tool-tip [tool-tip-message] {
    width: 277px;
    padding: 16px;
    .t-body--fontFamily();
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;

    @media @breakpoint-lt-md {
        left: calc(50vw - (277px / 2));
        top: -92px;
    }
}

card-container {
    display: block;
    .refresh-2020.u-spacing__sectionToSection--marginTop();
}

wizard-ui {
    display: block;
    .refresh-2020.u-spacing__fieldToField--marginTop();

    [wizard-next] {
        text-transform: uppercase;
    }

    [wizard-cancel],
    [wizard-previous] {
        text-transform: capitalize;
    }
}

mat-divider {
    width: @width-divider;
}
