@import '../../../styles/mixins.less';
@import '../../../common/ui/containers/fxRow/details.less';
@import (reference) '../../../styles/themes.less';

.openVioPayPlans {
    color: @pizazz-gold;
}

.hoverBoxAdjusment {
    padding: 6px;
    min-width: 220px;
    line-height: 1.5px;
    left: 10.5em;
    top: -40px;
}

tool-tip span a {
    color: #007aff !important;
}

.w-160 {
    width: 160px;
}

mat-icon[svgIcon='previous-arrow'] {
    font-size: 15px;
    height: 15px;
    margin: 0px 10px 0px 0px;
    width: 15px;
}
