@import (reference) '../../../styles/themes.less';

:host {
    #printLinkIcon {
        background-image: url('/Content/icons/printer.gif');
        background-position: 0px 50%;
        background-repeat: no-repeat;
        float: left;
        height: 16px;
        margin-left: -24px;
        padding: 0px 0px 0px 16px;
    }

    #printLink {
        font-size: 12px;
        .t-label--color(@theme-light) !important;
    }
}
