@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

:host {

    .titleContainer {
        min-height: 100px;
        padding-left: 15px;

        @media @breakpoint-lt-sm {
            width: 100%;
        }

        @media @breakpoint-sm {
            width: 500px;
        }

        @media @breakpoint-md1 {
            width: 840px;
        }

        @media @breakpoint-md2 {
            width: 928px;
        }

        @media @breakpoint-lg {
            width: 1180px;
        }

        @media @breakpoint-gt-lg {
            width: 1260px;
        }

        @media @breakpoint-lt-md {
            padding-left: 10px;
        }
    }

    .cardsContainer {

        @media @breakpoint-lt-sm {
            width: 100%;
        }

        @media @breakpoint-sm {
            width: 500px;
        }

        @media @breakpoint-md1 {
            width: 840px;
        }

        @media @breakpoint-md2 {
            width: 928px;
        }

        @media @breakpoint-lg {
            width: 1180px;
        }

        @media @breakpoint-gt-lg {
            width: 1260px;
        }
    }

    .topRowCard {
        width: 100%;
        height: 260px;
    }

    .bottomRowCard {
        width: 100%;
        height: 300px;
    }

    .currentBalanceContainer {

        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 340px;
            height: 280px;
        }

        @media @breakpoint-lg {
            width: 340px;
            height: 280px;
        }

        @media @breakpoint-gt-lg {
            width: 340px;
            height: 280px;
        }
    }

    .vehiclesContainer {

        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 500px;
            height: 280px;
        }

        @media @breakpoint-md2 {
            width: 588px;
            height: 280px;
        }

        @media @breakpoint-lg {
            width: 500px;
            height: 280px;
        }

        @media @breakpoint-gt-lg {
            width: 520px;
            height: 280px;
        }
    }

    .billingContainer {

        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 340px;
            height: 316px;
        }

        @media @breakpoint-lg {
            width: 340px;
            height: 280px;
        }

        @media @breakpoint-gt-lg {
            width: 340px;
            height: 280px;
        }
    }

    .recentTransactionsContainer {

        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 500px;
            height: 321px;
        }

        @media @breakpoint-md2 {
            width: 588px;
            height: 321px;
        }

        @media @breakpoint-lg {
            width: 590px;
            height: 320px;
        }

        @media @breakpoint-gt-lg {
            width: 600px;
            height: 320px;
        }
    }

    .tollUsageHistoryContainer {

        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 840px;
        }

        @media @breakpoint-md2 {
            width: 928px;
        }

        @media @breakpoint-lg {
            width: 590px;
            height: 320px;
        }

        @media @breakpoint-gt-lg {
            width: 600px;
            height: 320px;
        }
    }

}
