@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/variables.less';
@import (reference) '../../../../styles/custom/spacing/sections.less';

card-container {
    display: block;
}

section {
    width: 100%;
}

mat-divider {
    width: @width-divider;
}

h2 {
    max-height: 70px;
    padding-bottom: 24px;
}

.bottomPadding {
    padding-bottom: 21px;
}
