@import (reference) '../../styles/custom/spacing/sections.less';
@import (reference) '../../styles/themes.less';

:host {
    .display {
        display: block;
    }

    .no-statements {
        fill: @pizazz-gold;
    }

    .cardToCardSpacer {
        .refresh-2020.u-spacing__cardToCard--marginTop;
    }

    .mobileDatePicker {
        width: 100%;
    }

    .standardStateDropdown {
        width: 322px;
    }

    .buttonStyle {
        margin-top: 20px;
    }
}
