@import (reference) '../../../styles/themes.less';

.criteria-shape {
    border-radius: 20px;
    border: 0px;
}

.criteria-color {
    .t-body--color(@theme-light);
    .t-body--backgroundColor3(@theme-light);
}

.criteria-size {
    height: 34px;
    padding-left: 24px;
    padding-right: 24px;
}

.criteria-text {
    .t-header--fontFamily();
    font-size: 15px;
    font-weight: 500;
    cursor: default;
}
