@import (reference) '../../../styles/variables.less';

:host {
    header {
        padding-bottom: 10px;

        h2 {
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 32px;
        }

        mat-divider {
            width: @width-divider;
            padding-bottom: 14px;
        }
    }

    section {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
        margin-bottom: 30px;

        div {
            display: flex;
            flex-direction: column;
        }

        mat-icon {
            margin-right: 16px;
            align-items: center;
            height: 45px;
            width: 45px;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    span {
        display: block;
        font-weight: 500;
        font-size: 16px;
    }
}
