@import (reference) '../../transaction.common.less';
@import (reference) '../../../../styles/basic/links/anchor.less';

:host {

    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    .criteria-size();
    .criteria-shape();
    .criteria-color();
    .criteria-text();
    .criteria-hover();
}
