@import (reference) '../../styles/custom/storefront.less';

:host {
    width: @storefront-modal-container-width;
    padding-top: @storefront-modal-padding;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    user-select: none;

    .go-back,
    .go-back:hover,
    .go-back:link,
    .go-back:visited,
    .go-back:hover {
        color: #381462 !important;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        display: flex;
        gap: 5px;
        width: fit-content;

        img {
            height: 12px;
            width: 15px;
        }
    }

    .maintenance-mode-container {
        padding: 0px !important;
        background-color: transparent !important;

        img {
            width: 100%;
        }
    }


    .modal-container {
        display: block;
        background-color: #ffffff;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 15px #00000080;
        width: @storefront-modal-width;
        max-height: @storefront-modal-height;
        padding: 40px;
        z-index: 2;
    }

    .close-icon {
        width: 42px;
        height: 42px;
        top: -20px;
        right: -25px;
        position: absolute;

        :hover {
            cursor: pointer;
        }
    }

    button {
        font-size: 16pt;
        font-weight: 700;
        background-color: @storefront-button-background-color;
        color: @storefront-button-color;
        border: 1px solid none;
    }

    .inactivity {
        h2 {
            color: @storefront-purple;
            font-family: @storefront-font-family-bold;
            font-size: 14pt;
        }

        button {
            margin: 0px;
        }
    }

    .inactivity-container {
        padding: 20px !important;
    }

    .other-options,
    .other-options-complete {
        text-align: center;

        h2 {
            margin-top: 15px;
            color: @storefront-purple;
            font-size: 36px;
            font-family: @storefront-font-family-bold;
        }

        button.last {
            color: @storefront-button-color;
            background-color: @storefront-button-background-color;
        }

        button {
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #381462;
            color: @storefront-purple;
            background-color: #ffffff;
            height: @storefront-lg-button-height;
            font-size: @storefront-lg-button-font-size;
        }
    }

    .post-payment {
        text-align: center;

        h1 {
            color: @storefront-purple;
            font-family: @storefront-font-family-bold;
            font-size: 36px;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
            height: 53px;
        }

        button + button {
            color: @storefront-purple;
            vertical-align: middle;
            padding: 5px 0px;
            font-family: 'Avenir LT Std 45 Book Regular';
            font-size: 14px;
            background-color: transparent;
            border: 0px;

            :hover {
                text-decoration: underline;
            }
        }

        p {
            margin-top: 0px;
            width: 75%;
            font-size: 14px;
        }

        img {
            height: 457px;
            width: 428px;
        }
    }

    .post-payment-container {
        display: flex;
    }

    .exit-session,
    .task-complete,
    .all-tasks-complete,
    .skip-task,
    .skipped-tasks,
    .csr,
    .post-sign-up,
    .post-cavve,
    .vehicle-violation,
    .violation-not-found,
    .finish-setup {
        text-align: center;

        h2,
        h4 {
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            color: @storefront-purple;
            font-family: @storefront-font-family-bold;
        }

        h4 {
            color: #333333;
            font-family: @storefront-site-font-family;
            font-size: 16px;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 43px;
        }

        button + button {
            color: @storefront-purple;
            vertical-align: middle;
            padding: 5px 0px;
            font-family: @storefront-site-font-family;
            font-size: 14px;
            background-color: transparent;
            border: 0px;

            :hover {
                text-decoration: underline;
            }
        }
    }
}
