.faq-title-text {

    @media @breakpoint-xs {
        margin-top: 32px;
        margin-bottom: 16px;
        text-align: center;
    }

    @media @breakpoint-sm {
        margin: 34px auto;

    }

    @media @breakpoint-md {
        margin: 34px auto;

    }

    @media @breakpoint-gt-md {
        margin: 34px auto;
    }

}

.faq-title {
    @media @breakpoint-xs {

        width: 375px;
        background: #00466b 0% 0% no-repeat padding-box;
        padding: 5px 20px;
    }

    @media @breakpoint-sm {
        width: 568px;
        background: #00466b 0% 0% no-repeat padding-box;
        padding: 5px 20px;
    }

    @media @breakpoint-md {
        width: 816px;
        background: #00466b 0% 0% no-repeat padding-box;
        padding: 5px 20px;
    }

    @media @breakpoint-gt-md {
        width: 1204px;
        background: #00466b 0% 0% no-repeat padding-box;
        padding: 5px 20px;
    }

}

.faq-items-width {
    @media @breakpoint-xs {
        width: 375px;
    }

    @media @breakpoint-sm {
        width: 568px;
    }

    @media @breakpoint-md {
        width: 816px;
    }
}


.faq-not-found-container-lt-sm {
    width: 351px !important;
    margin-left: 24px;
}

.faq-not-found {
    margin: 30px auto;
}
