@import (reference) '../../variables.less';

.refresh-2020 {
    .mat-paginator {
        .mat-paginator-range-label {
            display: none;
            visibility: hidden;
        }

        .mat-paginator-icon {
            width: 22px;
        }

        .mat-paginator-navigation-next {
            margin-left: 60px;
        }

        .mat-paginator-container {
            min-height: 40px;
        }
    }
}
