<section>
    <button ngClass="buttonToggle"
            mat-button [matMenuTriggerFor]="mobileHomeMenu"
            (menuClosed)="toggleDropDown()"
            (menuOpened)="toggleDropDown()">
        <span ngClass="spanAdjustment">I need to </span>
        <mat-icon [@rotatedState]='state'
                  svgIcon="home-down-arrow"
                  ngClass="imageAdjustment"></mat-icon>
    </button>
    <mat-menu #mobileHomeMenu="matMenu" backdropClass="ctaMobile">
        <ng-container *ngIf="isDropDownOpen">
            <section *ngFor="let section of displayList">
                <a *ngIf="(isLoggedin && section.hideAtLogIn === '') || (!isLoggedin && section.hideAtLogOut === '')"
                   ngClass="aTagAdjustment" href="{{section.ButtonURL}}">{{section.Title}}</a>
            </section>
        </ng-container>
    </mat-menu>

</section>
