always-auth=true
@xlts.dev:registry=https://registry.xlts.dev/

//registry.xlts.dev/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJoYXJyaXMtY291bnR5LXRvbGwtcm9hZC1hdXRoIl0sIm5hbWUiOiJoYXJyaXMtY291bnR5LXRvbGwtcm9hZC1hdXRoIiwiZ3JvdXBzIjpbImhhcnJpcy1jb3VudHktdG9sbC1yb2FkLWF1dGgiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJoYXJyaXMtY291bnR5LXRvbGwtcm9hZC1hdXRoIl0sImlhdCI6MTYzNTYxNjgxNCwibmJmIjoxNjM1NjE2ODE0fQ.XqRkE9A5Dtlod9mVD_yLlum-yepL4Bt3vTmMfBEpBWE