:host {
    .modal-header {
        background-color: #34353a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 10px;
        color: white;
        opacity: 1;
        font-weight: 700;

        span {
            font-weight: bold;
            font-size: 24px;
        }
    }

    .unsupported-browser-modal {
        padding: 15px;
    }

    #modal-popup button.close {
        padding-top: 0px;
    }
}
