:host {

    .mat-paginator {
        position: relative;
        left: 96px;
    }

    .mat-select {
        width: 86px;
        position: relative;
        top: -3px;
        right: 20px;

        // Apply the rule below if we ever need the first/last buttons
        /*&.first-last-buttons-centered {
            right: 62px;
        }*/
    }

    main {
        margin-right: -12px;
    }

    #toAndFromContainer {
        margin-right: -95px;
    }

    #paginatorControlsContainer {
        height: 20px;
        margin-top: -2px;
    }
}
