@import (reference) '../../../styles/themes.less';
@import (reference) '../../../styles/variables.less';

:host {
    width: 100%;

    header {
        .t-titleBanner--backgroundColor(@theme-light);
        height: 90px;
        padding-left: @page-bar-margin-static;
        padding-right: @page-bar-margin-static;

        &.lt-md {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: @page-bar-margin-static-lt-md;
            padding-right: @page-bar-margin-static-lt-md;
        }

        mat-divider {
            height: 30px;

            &.lt-md {
                height: 20px;
            }
        }

        h1 {
            text-transform: uppercase;
        }
    }

    .harMarginBottom {
        margin-bottom: 20px;
    }
}
