@import (reference) '../../styles/themes.less';

:host {
    p {
        display: inline-block;
    }

    .remove {
        p {
            color: @silver-gray;
        }
    }

    .contact-name {
        color: @azure-radiance-blue;
        word-break: break-all;
    }

    .glyphicon {
        color: @azure-radiance-blue;
    }

    .emptyAccessCode {
        color: @torch-red;
    }

    .hover-box-adjustment {
        padding: 15px;
        font-size: 11px;
        width: 200px;
    }
}
