@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/variables.less';

:host {
    section > div {
        padding-bottom: 5px;
    }

    p {
        word-break: break-word;
    }

    .word-break-div {
        word-break: break-word;
        max-width: 50%;
    }

    .paymentmethod-status {
        padding-bottom: 25px;
    }

    .savePayment {
      text-align: right;
    }
}
