@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/variables.less';

:host {
    section > div {
        padding-bottom: 5px;
    }

    p {
        word-break: break-word;
    }

    .word-break-div {
        word-break: break-word;
        max-width: 50%;
    }

    section,
    p {
        font-size: inherit !important;
    }
}
