@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

:host {
    footer {
        background-color: @white;
        border-top: 1px solid @silver-gray;
        padding: 40px 20px;

        &.compact-footer {
            padding: 20px 20px 50px 20px;

            .footer-left {
                margin-right: 30px;
            }
        }


        .footer-left {
            width: 193px;
            height: 44px;
        }

        span {
            .t-header--fontFamily();
            color: @purple-heart-purple;
            font-style: normal;
            font-variant: normal;
            font-weight: 600;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            display: block;
        }

        mat-icon {
            height: 100%;
            width: 100%;
        }

        article {
            + article {
                padding-left: 15px;
                border-left: 2px solid @purple-heart-purple;
            }
        }

        #facebook-link,
        #twitter-link,
        #instagram-link,
        #linkedin-link,
        #youtube-link {
            height: 30px;
            width: 30px;
        }

        #copyright-text {
            text-align: center;

            span {
                font-size: 12px;
                color: @tuna-gray;
            }
        }
    }
}
