@import (reference) '../../../../styles/themes.less';
mat-divider {
    width: @width-divider;
}

.mobile-style {
    width: 100%;
    padding: 45px 35px;
}

.desktop-style {
    min-width: 700px;
    max-width: 700px;
    padding: 32px 20px;
}

.padding-grid {
    padding: 0px 55px;
}
