<card-container>

    <h2>{{data.header}}</h2>
    <mat-divider class="u-spacing__divider--marginTopBottom"></mat-divider>
    <article *ngIf="rebillStatus && billingType !== BillingType.Cash" [innerHtml]="data.paymentContext | safeHtml"></article>
    <a *ngIf="rebillStatus && billingType !== BillingType.Cash" (click)="onClickReplenishmentLink()" style="padding: 8px 0px;">
        {{data.replenishmentAmt.link.linkDesc}}
    </a>
    <div *ngIf="billingType === BillingType.Cash">
        <span><b>{{cashPaymentSummaryModalCms.CashSummaryTitleText}}</b></span>
        <span class="cash-summary-desc" [innerHtml]="cashPaymentSummary | safeHtml"></span>
    </div>
    <fx-row [isLabel]="true"
            [backgroundColorClass]="'transparent-background'"
            class="gridLabelRow u-spacing--widthFill ">
        <section col-start>
            <mat-label>DESCRIPTION</mat-label>
        </section>
        <section col-end style="margin-left: auto;">
            <mat-label>AMOUNT</mat-label>
        </section>
    </fx-row>

    <ng-container *ngIf="data.paymentDueInfo.displayReplinishmentAmtSection">

        <fx-row *ngIf="data.paymentDueInfo.totalAmt > 0"
                [isTop]="true">
            <section col-start>
                Replenishment Amount:
                <tool-tip [stayOpenOnHover]="true">
                    <span tool-tip-hover>
                        <mat-icon class="infoIcon" svgIcon="information"></mat-icon>
                    </span>
                    <span tool-tip-message
                          [ngStyle.lt-sm]="{'right': '0px'}"
                          [ngStyle.gt-sm]="{'bottom': '30px', 'right': '0px'}"
                          [innerHTML]="data.paymentDueInfo.rebillTooltip | safeHtml">
                    </span>
                </tool-tip>
            </section>
            <section col-end style="margin-left: auto;">
                <div>
                    {{data.paymentDueInfo.tagSalesAmt | currency:'USD'}}
                </div>
            </section>
        </fx-row>

    </ng-container>

    <fx-row style="margin-bottom: 20px;"
            [isBottom]="data.paymentDueInfo.totalAmt > 0"
            [backgroundColorClass]="'gray-purple-background'">
        <section col-start>
            {{data.paymentDueInfo.totalAmtLabel}}
        </section>
        <section col-end style="margin-left: auto;">
            <div>
                {{data.paymentDueInfo.totalAmt | currency:'USD' }}
            </div>
        </section>
    </fx-row>

    <div *ngIf="billingType === BillingType.Cash" class="cash-alert-box">
        <shared-alert-box
            containerClass="extend-container-class"
            svgIcon="alert" svgIconClass="red-alert-icon-class"
            [desc]="cashPaymentSummaryModalCms.AlertDesc">
        </shared-alert-box>
    </div>

    <ng-container *ngIf="data.tagInfo.display">
        <article [innerHtml]="data.tagInfo.contextDesc | safeHtml" [ngClass]="{'tagInfo-display': billingType === BillingType.Cash}"></article>

        <article style="padding-top: 16px;" *ngIf="data.tagInfo.motorcycleText"
         [innerHtml]="data.tagInfo.motorcycleText | safeHtml"></article>
         
        <a style="padding-top: 16px;" (click)="onClickTagInfo()">{{data.tagInfo.link.linkDesc}}</a>

    </ng-container>

    <ng-content select="section">
    </ng-content>

</card-container>
