@import (reference) '../../styles/variables.less';

:host {

    form {
        max-width: @page-centered-max-width;
    }

    mat-divider {
        width: @width-divider;
    }

    h2 {
        max-height: 70px;
        padding-bottom: 14px;
    }
}
