@import (reference) '../../../styles/variables.less';

:host {
    header {
        padding-bottom: 10px;

        h2 {
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 32px;
        }

        mat-divider {
            width: @width-divider;
            padding-bottom: 14px;
        }
    }

    section {
        padding-top: 24px;
    }

    span {
        display: block;
        font-weight: 500;
        font-size: 16px;
    }
}
