:host {
    section {
        width: 100%;
    }

    .bottomPadding {
        padding-bottom: 21px;
    }

    .extension-space {
        margin-left: 25px;
    }

    .checkbox-style {
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-bottom: 10px;

        @media @breakpoint-lt-md {
            margin-top: 10px;
            transform: scale(0.7);
        }
    }

    .checkbox-label {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;

        @media @breakpoint-lt-md {
            font-size: 12px;
        }
    }
}
