@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

:host {

    mat-divider {
        width: @width-divider;
    }

    h2 {
        max-height: 70px;
    }

    .password-rules {
        font-size: 12px;
    }
}
