<main>
    <fx-row [isLabel]="true"
                           [backgroundColorClass]="'transparent-background'">
        <section col-start
                 class="fx-flex-auto fx-layout-row fx-layout-align-start-center">
            <mat-label class="fx-flex-auto-shrink-more limited-flex">INVOICE/TRANSACTION ID</mat-label>
            <mat-label class="fx-flex-auto-shrink-more limited-flex"
                       [ngClass.lt-md]="{'hidden': true}">INVOICE DATE</mat-label>
            <mat-label class="fx-flex-auto-shrink-more limited-flex"
                       [ngClass.lt-md]="{'hidden': true}">DUE DATE</mat-label>
            <mat-label class="fx-flex-auto-grow-more unlimited-flex"
                       [ngClass.lt-md]="{'hidden': true}">AGENCY</mat-label>
        </section>
        <section col-end
                 class="fx-flex-none fx-layout-row fx-layout-align-end-center"
                 style="width: 160px">
            <mat-label class="fx-flex-auto limited-flex-end">AMOUNT</mat-label>
            <div class="fx-layout-column fx-layout-align-end-start unlimited-flex-end"
                 *ngIf="isEditAllowed">
                <mat-label [ngClass]="{'pay-label': !disableSelectAll, 'pay-label-disabled': disableSelectAll}">PAY</mat-label>
                <input *ngIf="!disableSelectAll" type="checkbox"
                       [(ngModel)]="areAllSelected"
                       (change)="changeSelectAll()" />
            </div>
        </section>
    </fx-row>
    <div *ngFor="let violation of paginatedPlate.invoicesAndViolations; first as isFirst; last as isLast" class="violations-plate-row">
        <div [ngClass]="{'table-space': !isFirst}"
             [ngClass.lt-md]="{'table-space': !isFirst, 'lt-md': true}">
            <violations-invoiced-row *ngIf="isInvoice(violation)"
                                     [cmsData]="cmsDataOverPmnt"
                                     [caoToolTipCms]="caoToolTipCms"
                                     [plate]="{ state: paginatedPlate.licenseState, number: paginatedPlate.licensePlate }"
                                     (selectionChange)="computeSelectAll()"
                                     (paymentAmountChange)="computePaymentAmount()"
                                     [invoiced]="violation"
                                     [isEditAllowed]="isEditAllowed"
                                     [isLast]="isLast"
                                     [isChecked]="violation.checked"
                                     [isSuspendedAccount]="isSuspendedAccount">
            </violations-invoiced-row>
            <violations-uninvoiced-row *ngIf="!isInvoice(violation)"
                                       (selectionChange)="computeSelectAll()"
                                       (paymentAmountChange)="computePaymentAmount()"
                                       [uninvoiced]="violation"
                                       [isEditAllowed]="isEditAllowed"
                                       [isLast]="isLast"
                                       [isChecked]="violation.checked">
            </violations-uninvoiced-row>
        </div>
    </div>
    <ng-content></ng-content>

    <div *ngIf="!hideFooter" class="table-space"
         [ngClass.lt-md]="{'lt-md': true}">
        <row-container [rowType]="'emphasis'"
                       [isBig]="true">
            <section col-start
                     fxFlex="grow"
                     style="font-weight: 700">
                {{(isEditAllowed) ? 'Selected Payment Amount' : 'Original Amount Due'}}
            </section>
            <section col-end
                     fxFlex="none"
                     class="totalAmountValue"
                     style="font-weight: 700">
                <currency [value]="isEditAllowed ? paginatedPlate.totalSelected : paginatedPlate.plateDueBeforeDiscount"></currency>                
            </section>
        </row-container>
    </div>
</main>
