@import 'Site';
@import 'css/mobileCss/variable-override-desktop';

/* Add variable overrides for desktop stylesheet below */
@minimum-html-width: 1px;
@html-horizontal-scrollbars: auto;
@mega-menu-screen-lg: 1200px;
@mega-menu-screen-sm: 768px;
@mega-minimum-desktop-width: 1px;
@mega-screen-md-max: 1199px;
