<page-centered-container>
    <form #ResetForm="ngForm"
          validation-focus novalidate
          method="post">
        <card-container class="u-spacing__firstHeaderToTitle--marginTop">

            <h2>{{cmsData.Title}}</h2>
            <mat-divider class="u-spacing__divider--marginTopBottom"></mat-divider>
            <article [innerHtml]="cmsData.LongDescription | safeHtml"></article>

            <div ngClass="spanPosition"
                 [error-check]="newPasswordInput">
                <mat-label for="password">NEW PASSWORD</mat-label>
                <input type="text"
                       id="newPasswordTxtBox"
                       [(ngModel)]="newPassword"
                       (ngModelChange)="validatePassword(ResetForm)"
                       #newPasswordInput="ngModel"
                       name="newPasswordName"
                       tabindex="2"
                       [type]="isShowNewPassword ? 'text' : 'password'"
                       pattern="[A-Za-z0-9._!@#$^*&();?{}`~<>,+-]+$"
                       minlength="12"
                       maxlength="50"
                       [ngClass]="isShowNewPassword ? 'pwd-hide' : 'pwd-show'"
                       required />

                <show-hide-input-button [(showField)]="isShowNewPassword"></show-hide-input-button>

                <span class="password-rules">{{pwCmsData.PasswordDesc}}</span>

                <error-messages [errors]="newPasswordInput.errors" [activeBeforeSubmit]="newPasswordInput.touched">
                    <error-message rule="required">Please enter a password</error-message>
                    <error-message rule="maxlength">{{pwCmsData.MaxPassword}}</error-message>
                    <error-message rule="minlength">{{pwCmsData.MinPassword}}</error-message>
                    <error-message rule="pattern">{{pwCmsData.InvalidCharacter}}</error-message>
                </error-messages>

            </div>

            <div class="u-spacing__fieldToField--marginTop"
                 ngClass="spanPosition"
                 [error-check]="confirmPasswordInput">
                <mat-label for="password">CONFIRM PASSWORD</mat-label>
                <input type="text"
                       id="confirmPasswordTxtBox"
                       [(ngModel)]="confirmPassword"
                       (ngModelChange)="validatePassword(ResetForm)"
                       #confirmPasswordInput="ngModel"
                       name="confirmPasswordName"
                       tabindex="2"
                       [type]="isShowConfirmPassword ? 'text' : 'password'"
                       pattern="[A-Za-z0-9._!@#$^*&();?{}`~<>,+-]+$"
                       minlength="12"
                       maxlength="50"
                       [ngClass]="isShowConfirmPassword ? 'pwd-hide' : 'pwd-show'"
                       required />

                <show-hide-input-button [(showField)]="isShowConfirmPassword"></show-hide-input-button>
                <span class="password-rules">{{pwCmsData.PasswordDesc}}</span>

                <error-messages *ngIf="isMatch" [errors]="confirmPasswordInput.errors" [activeBeforeSubmit]="confirmPasswordInput.touched">
                    <error-message rule="required">Please enter your password</error-message>
                    <error-message rule="maxlength">{{pwCmsData.MaxPassword}}</error-message>
                    <error-message rule="minlength">{{pwCmsData.MinPassword}}</error-message>
                    <error-message rule="pattern">{{pwCmsData.InvalidCharacter}}</error-message>
                </error-messages>

                <p *ngIf="!isMatch" class="help-block">Please make sure your passwords match.</p>
            </div>

            <div *ngIf="isMissingEmail">
                <header class="u-spacing__firstHeaderToTitle--marginTop">
                    <h2>{{cmsData.ShortDescription}}</h2>
                    <mat-divider class="u-spacing__divider--marginTopBottom"></mat-divider>
                </header>
                <section class="u-spacing--widthFill u-spacing__fieldToSection--marginTop">
                    <email-address [(emailAddress)]="emailAddress" [required]="isMissingEmail"></email-address>
                </section>
            </div>
        </card-container>
        <wizard-ui (next)="resetPasswordSubmit($event)">
            <span wizard-next>Save</span>
            <span wizard-cancel>cancel</span>
        </wizard-ui>
    </form>
</page-centered-container>

