@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/custom/spacing/utility.less';
@import (reference) '../../styles/custom/spacing/sections.less';
@import (reference) '../../styles/themes.less';
@import '../../common/ui/containers/fxRow/details.less';

:host {

    h2 {
        color: @torch-red;
    }

    .currency {
        width: 145px;
    }

    .currency .limited-flex-end {
        max-width: unset;
    }

}
