@import (reference) '../../../../../styles/variables.less';

mat-divider {
    width: @width-divider;
}

.refresh-2020 label {
    font-weight: normal;
    display: flex;
    align-items: center;
}

.refresh-2020 input[type='checkbox'] {
    margin-top: 0px;
}

.confirm-agreement {
    font-weight: normal;
}
