@import (reference) '../../../styles/themes.less';

.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    outline: none;

    & > button {
        position: absolute;
        z-index: 1;
        .centerY();

        &:first-of-type {
            left: 30px;
        }

        &:last-of-type {
            right: 30px;
        }
    }

    &-list {
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        position: relative;
    }

    &-slide {
        .size(100%, 0);
        display: flex;
        flex-shrink: 0;
        position: relative;
    }

    &-indicators {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 1;
        .centerX();
        outline: none;
        justify-content: center;

        & > button {
            .size(10px);
            background-color: @white;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

:host {
    .rightArrowRotate {
        transform: rotate(180deg);
    }

    .carouselButtonOverride {
        opacity: 1;
        border-radius: 0px;
        height: inherit;
        width: inherit;
    }

    .arrowDimension {
        width: 20px;
        height: 32px;
    }

    .selectedSlide {
        opacity: 0.5;
    }
}
