<div id="june-redesign">
    <div class="border-without-footer">
        <div class="row">
            <div class="gs-col">
                <div id="searchfield" class="top-buffer-lg-mo"></div>
                <hr style="margin-left: -1px; margin-right: -1px;"
                    class="no-margin-bottom top-buffer-xl-do top-buffer-lg-mo" />
                <div>
                    <h1 class="no-margin-top top-buffer-sm">Search Results</h1>
                    <div id="searchResults"></div>
                </div>
            </div>
        </div>
    </div>
</div>