@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

matches {
    .matches {
        color: @fun-green !important;
        .t-body--fontFamily() !important;
        font-size: 12px !important;
        margin-top: 6px !important;
    }

    p {
        margin-left: 18px !important;
    }
}


