@import (reference) '../../../../styles/themes.less';

[device-type] {
    :host {

        h2 {
            margin: 0px 0px;
            padding-bottom: 24px;
        }

        .overpayment-modal {
            padding: 35px;
        }

        mat-divider {
            width: @width-divider;
        }

        #closeModal {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
}
