<!-- <card-container> -->
<h2>{{summary.title}}</h2>
<mat-divider class="u-spacing__divider--marginTopBottom"></mat-divider>
<article [innerHtml]="summary.description | safeHtml"></article>

<ng-container *ngFor="let orderDetail of details">

<section *ngIf="orderDetail.tags.length>0" class="u-spacing--widthFill">

    <fx-row [isLabel]="true"
                           [backgroundColorClass]="'transparent-background'"
                           class="u-spacing--widthFill u-spacing__gridToRecords--marginTop">
        <section col-start
                    class="fx-flex-auto fx-layout-row fx-layout-align-start-center">
            <mat-label class="fx-flex-auto-shrink-more limited-flex">
                {{orderDetail.title}}
            </mat-label>
        </section>
    </fx-row>

    <vehicle-cart-row-component class="u-spacing--widthFill"
                                *ngFor="let ezTag of orderDetail.tags; index as i"
                                [ezTag]="ezTag"
                                (removeVehicle)="removeVehicle(i)"
                                (editVehicle)="editVehicle($event, i)"
                                [deleteModalCms]="orderRemoveContent"
                                [editModalCms]="orderEditContent"
                                [stateList]="stateList"
                                [canEdit]="canEdit" 
                                [canRemove]="removeAllOrders!==undefined && removeAllOrders===false ? removeAllOrders:  orderDetail.tags.length > 1"
                                [isPlate]="orderDetail.isPlate">
    </vehicle-cart-row-component>

</section>

</ng-container>

<!-- </card-container> -->