@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/variables.less';


.display-block {
    display: block;
}

.font-link {
    font-weight: 500;
    .t-header--fontFamily();
}

.mobileStateDropdown {
    width: 100%;
}

.standardStateDropdown {
    width: 322px;
}

.clear-filter-alignment {
    text-align: end;
}

.label-offset {
    margin-top: 26px;
    margin-left: 14px;

    @media @breakpoint-lt-md {
        margin-top: 12px;
        margin-left: 0px;
    }
}

.filter-offset {
    margin-top: 8px;

    .filter-label-offset {
        margin-right: 8px;
    }
}

.filter-criteria-gap {
    gap: 16px 8px;
}

.table-padding {
    padding-left: 20px;
    padding-right: 20px;

    @media @breakpoint-lt-md {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.download-icon {
    margin-top: -5px;
    padding-right: 8px;
}

.download-link {
    .t-header--fontFamily();
    font-size: 16px;
    font-weight: 500;
}

a.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.transactions-found-display {
    row-gap: 24px;
}

.transactions-total-display {
    max-width: 300px;
    text-align: end;

    @media @breakpoint-lt-md {
        max-width: 100%;
    }
}

.noData {
    width: 40px;
    height: 40px;
    vertical-align: text-top;
    margin-right: 8.75px;
    color: @boulder-gray;
}

.rowItem {
    font-size: 14px;
}
