<div *ngIf="defaultAddress"
     style="margin-top:23px">
    <section fxLayout="row">
        <div fxLayout="column" fxFlexOffset="8px">
            <input ngClass="inputAdjustment"
                type="radio"
                id="defaultSelection"
                name="addressSelection"
                [(ngModel)]="checkBoxFlag"
                value="Default"
                (click)="defaultAddressUpdate()">
        </div>
        <div fxLayout="column" fxFlexOffset="8px">
            <p>Same as mailing address</p>
            <div translation-skip fxFlexOffset="16px">
                <p>{{defaultAddress.address1}} </p>
                <p *ngIf="defaultAddress.address2">{{defaultAddress.address2}}</p>
                <p>
                    {{defaultAddress.city}}<span>, </span>{{defaultAddress.state}}<span> </span> {{defaultAddress.zip}}
                    <span *ngIf="defaultAddress.plus4 && ! (defaultAddress.internationalAddress)">- {{defaultAddress.plus4}}</span>
                </p>
                <p *ngIf="(defaultAddress.internationalAddress)">{{defaultAddress.country}}</p>
            </div>
        </div>
    </section>
</div>
<div style="margin-top:35px">
    <section fxLayout="row">
        <div fxLayout="column" fxFlexOffset="8px">
            <input ngClass="inputAdjustment"
                type="radio"
                id="newSelection"
                name="addressSelection"
                [(ngModel)]="checkBoxFlag"
                value="New"
                (click)="newAddressUpdate()">
        </div>
        <div fxLayout="column" fxFlexOffset="8px">
            <p>Enter a new address </p>
            <div fxFlexOffset="16px" *ngIf="newAddressFlag === 1">
                <p translation-skip>{{newAddress.address1}}</p>
                <p translation-skip *ngIf="newAddress.address2">{{newAddress.address2}}</p>
                <p translation-skip>
                    {{newAddress.city}}<span>, </span>{{newAddress.state}}<span> </span> {{newAddress.zip}}
                    <span *ngIf="newAddress.plus4 && ! (newAddress.internationalAddress)">- {{newAddress.plus4}}</span>
                </p>
                <p translation-skip *ngIf="(newAddress.internationalAddress)">{{newAddress.country}}</p>
                <div style="margin-top:10px;">
                    <a (click)="editNewAddress()">Edit</a>
                </div>
            </div>
        </div>
    </section>

</div>
