// DEPRECATED FILE - Please delete after Refresh effort

@import (reference) 'variables.less';

/* fonts */
.avenir-85-heavy {
    font-family: 'Avenir LT Std 85 Heavy Regular';
}


/* colors */
.dark-purple-text {
    color: @valentino-purple;
}


/* row spacing */
.extended-row-mixin() {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.extended-row-lt-md-mixin() {
    margin-left: -@page-bar-margin-static-lt-md;
    margin-right: -@page-bar-margin-static-lt-md;
    padding-left: @page-bar-margin-static-lt-md;
    padding-right: @page-bar-margin-static-lt-md;
}
