
// Legacy colors - DO NOT USE ANYMORE
@dark-gray-background: #d6d6e1;
@border-gray: #cdcccb;
@dark-purple-base: #381462;
/*@light-gray-background: #fafafa;
@darker-gray-background: #c4c4c4;
@purple-background: #611eb8;
@purple-text: #611eb8;
@dark-purple-text: #2e124e;
@darker-gray-text: #c4c4c4;
@gray-label-text: #757575;
@yellow-button: #ffdd09;
@gray-glyphicon: #585858;
@red-validation: #fc2125;*/

// Random one-off colors
@iron-gray: #d1d1d5; // only payment plan uses
@dodger-blue: #2b90ff; // only payment plan uses
@clairvoyant-purple: #3c055f; // only progress-bar uses


// Colors named with chir.ag/projects/name-that-color
@white: #ffffff;
@athens-gray: #efeff4;
@french-gray: #c8c7cc; // not used
@boulder-gray: #757575;
@silver-gray: #c4c4c4;
@dove-gray: #707070; // not used
@scorpion-gray: #585858;
@mine-shaft-gray: #343434; // not used
@wild-sand-gray: #f6f6f6;
@alabaster-gray: #fafafa;
@snuff-gray: #e0e0ef;
@tuna-gray: #34353a;
@calypso-blue: #3c7996;
@school-bus-yellow: #ffdd09;
@pizazz-gold: #ff9200;
@daisy-bush-purple: #60269e; // not used
@purple-heart-purple: #611eb8;
@valentino-purple: #2e124e;
@azure-radiance-blue: #007aff;
@torch-red: #fc2125;
@tropical-rain-forest-green: #018749;
@fun-green: #018c25;

// Fonts
@font-montserrat: 'Montserrat';
@font-jost: 'Jost';
@font-glyphicons: 'Glyphicons Halflings';
@font-saira: 'Saira Semi Condensed';
@font-jura: 'Jura';

/* page content container spacing */
@page-bar-margin-static: 85px;
@page-bar-margin-static-lt-md: 14px;
@page-centered-max-width: 540px;

/* divider specifics */
@width-divider: 65px;
