@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/variables.less';

:host {

    h2 {
        max-height: 70px;
    }

    mat-divider {
        width: @width-divider;
    }

    #totalPaymentLabel {
        .t-body--fontFamily;
        .t-header--color(@theme-light);
        font-weight: 700;
        font-size: 16px;
    }

    #totalPaymentValue {
        text-align: right;
        .t-body--fontFamily;
        .t-body--color(@theme-light);
        font-weight: 700;
        font-size: 16px;
    }

    .editButton {
        font-weight: 500;
        .t-header--fontFamily;
    }
}
