<div fxLayout="row" fxLayoutAlign="space-between center" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
(click)="isOpen = !isOpen"
class="criteria-shape criteria-color criteria-size criteria-text criteria-hover">

<span *ngIf="showDefault else selected" style="color: #007aff; font-size: 14px;">
    {{list.defaultDisplayName}}
</span> 
 <ng-template #selected>
<span style="color: #007aff; font-size: 14px;">
    {{selectedData.displayName}}
</span>
</ng-template>

<ng-container *ngTemplateOutlet="icon"></ng-container>

</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
[cdkConnectedOverlayPanelClass]="'overlayPanelClass'" (overlayOutsideClick)="close()">

<div class="filter-panel">

    <div *ngFor="let data of list.data" fxLayout="column" fxLayoutAlign="start start">
        <div (click)="dispatchEvent(data)" class="transactionType-text criteria-hover">
            <span>{{data.displayName}}</span>
        </div>

    </div>

</div>

</ng-template>

<ng-template #icon>
<div class="glyphicon glyphicon-chevron-down chevron-color chevron-adjustment">

</div>
</ng-template>