@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/themes.less';

:host {
    .autoReplenishmentIndicator {
        background: #f6f6f6 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
    }

    .autoReplenishmentIndicatorIcon {
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .autoReplenishmentIndicatorLabel {
        font: normal normal bold 13px/14px 'Roboto Condensed', sans-serif;
    }

    .flex-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        margin: 0px 2px;
    }
}
