.refresh-2020 {
    .u-spacing__gridToRecords--marginTop {
        margin-top: 20px;
    }

    .u-spacing__rowToRow--marginTop {
        .u-spacing__rowToRow--marginTop();
    }

    .u-spacing__rowToSection--marginTop {
        margin-top: 16px;
    }

    .u-spacing__sectionToRow--marginTop {
        margin-top: 8px;
    }

    .u-spacing__loadMore--margin {
        margin: 20px 0px 12px 0px;
    }
}

.u-spacing__rowToRow--marginTop() {
    margin-top: 8px;
}
