.refresh-2020 {
    // Desktop
    .u-spacing__fieldToSection--marginTop {
        margin-top: 24px;
    }

    .u-spacing__headerToSection--marginTop {
        margin-top: 50px;
    }

    .u-spacing__sectionToSection--marginTop {
        margin-top: 32px;
    }

    .u-spacing__sectionToSection--marginBottom {
        margin-bottom: 32px;
    }

    .u-spacing__fieldToField--marginTop {
        margin-top: 32px;
    }

    .u-spacing__fieldToField--marginTopHalf {
        margin-top: 16px;
    }

    .u-spacing__buttonToField--marginTop {
        margin-top: 32px;
    }

    .u-spacing__firstHeaderToTitle--marginTop {
        margin-top: 20px;
    }

    .u-spacing__cardToCard--marginTop {
        margin-top: 32px;
    }

    .u-spacing__addressToPaymentDisplay--marginTop {
        margin-top: 24px;
    }
    // Mobile
    &.lt-md,
    .lt-md {
        .u-spacing__cardToCard--marginTop {
            margin-top: 50px;
        }
    }
}
