@import (reference) '../../../styles/themes.less';
@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/custom/spacing/sections.less';
@import (reference) '../../../styles/custom/spacing/dividers.less';

label {
    //height: 48px;
    width: 100%;
    border-top: 1px solid @silver-gray;
    border-left: 1px solid @silver-gray;
    border-right: 1px solid @silver-gray;
    margin: 0px;
    user-select: none;
    padding-left: 10px;
}

label:hover {
    cursor: pointer;
    background-color: @wild-sand-gray;
}

label span {
    font-family: @font-montserrat;
    font-weight: 600;
    line-height: 26px;
    color: @tuna-gray;
    position: relative;
    display: block;
}

.subtext {
    margin: 0px 0px 10px 21px;
    font-size: 14px;
}

.inputLabelTitle {
    font-size: 16px;
    margin-top: 12px;
}

label:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

label.selected {
    background-color: @snuff-gray;
    border-top: 1px solid @azure-radiance-blue;
    border-left: 1px solid @azure-radiance-blue;
    border-right: 1px solid @azure-radiance-blue;
}

label.selected + label {
    border-top: 1px solid @azure-radiance-blue;
}

label:last-of-type {
    border-bottom: 1px solid @silver-gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

label:last-of-type.selected {
    border-bottom: 1px solid @azure-radiance-blue;
}

input {
    width: 13px;
    margin: 0px 10px 0px 8px;
    float: left;
}

.has-error {
    label {
        border-left: 1px solid @torch-red;
        border-right: 1px solid @torch-red;
    }

    label:first-of-type {
        border-top: 1px solid @torch-red;
    }

    label:last-of-type {
        border-bottom: 1px solid @torch-red;
    }
}

card-container {
    display: block;
    .refresh-2020.u-spacing__sectionToSection--marginTop();
}

mat-divider {
    width: @width-divider;
}

article {
    margin: 5px 0px;
}
