@import (reference) '../../../../../styles/themes.less';
@import (reference) '../../../../../styles/variables.less';


:host {
    span[action-alt] {
        font-family: 'Jost';
        font-weight: 500;
    }

    mat-divider {
        width: @width-divider;
    }
}
