@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/themes.less';

:host {

    mat-icon {
        height: 100%;
        width: 100%;
    }

    header {
        height: 80px;
        padding: 24px 0px 16px 29px;

        &.compact-menu {
            height: 60px;
            padding: 0px 0px 0px 13px;

            #hamburger-hctra-logo {
                width: 144px;
                height: 33px;
            }

            #hamburger-close {
                margin-right: 21px;
            }
        }

        #hamburger-close {
            width: 34px;
            height: 34px;
            margin-right: 29px;
        }

        #hamburger-hctra-logo {
            width: 173px;
            height: 40px;
        }
    }
}
