@import (reference) '../../../../../styles/themes.less';
@import (reference) '../../../../../styles/custom/spacing/sections.less';
@import (reference) '../../../../../styles/custom/spacing/dividers.less';
@import (reference) '../../../../../styles/variables.less';
@import '../../../../../common/ui/containers/fxRow/details.less';

:host {

    h2 {
        @media @breakpoint-lt-md {
            margin-top: 16px;
        }
    }

    wizard-ui {
        [wizard-next] {
            text-transform: uppercase;
        }
    }

    wizard-ui + a {
        padding: 10px 20px;

        @media @breakpoint-lt-md {
            width: 100%;
            text-align: center;
        }
    }

    p,
    section {
        .refresh-2020.u-spacing__sectionToSection--marginBottom();
    }

    mat-divider {
        width: 64px;
        .refresh-2020.u-spacing__divider--marginTopBottom();
    }

}
