<div ng-if="showCurrentPassword" class="form-group" ng-class="validation.getErrorStatusClass('currentPassword')">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <label for="currentPassword">Current Password</label>
            <input id="currentPassword" name="currentPassword" tabindex="tabOrderingIndex" ng-model="currentPassword.currentPassword" class="form-control" required type="password" />
            <div ng-messages="validation.getErrorList('currentPassword')" ng-if="validation.hasSubmitted()" role="alert">
                <p ng-message="required" class="help-block">Please enter your current password</p>
            </div>
        </div>
    </div>
</div>
<new-password parent-form="parentForm" current-password="currentPassword.currentPassword" confirm-password="confirmPassword" password="password" tab-ordering-index="(tabOrderingIndex+1)" show-new-verbiage></new-password>
