@import (reference) '../../../../styles/mixins.less';
@import (reference) '../../../../styles/variables';
@import (reference) '../../../../styles/themes.less';
@import '../../../ui/containers/fxRow/details.less';

:host {
    section {
        padding-top: 24px;
    }

    input[type='radio'] {
        cursor: pointer;
        height: 23px;
        width: 23px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .radioTextAdjustment {
        margin-top: 7px;
        padding-left: 5px;
    }

    .vehicleClassBoxAdjusment {
        max-width: 225px;
        margin-right: 20px;
    }

    .hoverIcon {
        cursor: pointer;
    }

    .info svg {
        width: 20px;
        height: 20px;
    }

    .hoverBoxAdjusment {
        padding: 15px;
        min-width: 300px;
        font-size: 16px;
        line-height: 2;
    }

    div.isMotorcycle {
        display: flex;
        align-items: center;
    }

    div.isMotorcycle span {
        margin-top: 3px;
    }

}
