<div class="custom-spinner" *ngIf="showDueToBroadcast || show">
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
    <div class="custom-spinner-dot-container">
        <div class="custom-spinner-dot"></div>
    </div>
</div>