@import '../site-variables';
@import '../site-variables-june-redesign';

#june-redesign {
    section ul.account-info-settings {
        padding-left: 0px;
    }

    ul.account-info-settings li {
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .details-module-icon {
        height: 60px;
        margin-top: 8px;
        width: 60px;
    }

    .details-module {
        height: 175px;
        width: 275px;
    }

    .details-module-cms-text {
        color: @dark-purple-text !important;
        font-size: @h5-size-do-new;

        div,
        p,
        span {
            color: @dark-purple-text !important;
            font-size: @h5-size-do-new;
        }

        p {
            margin-bottom: 0px;
        }
    }
}
