@import '../site-variables';
@import '../site-font-styles';

@mega-menu-screen-lg: @screen-lg;
@mega-menu-screen-sm: @screen-sm;
@mega-minimum-desktop-width: @minimum-desktop-width;
@mega-screen-md-max: @screen-md-max;

@media screen and (max-width: @maximum-mobile-width) {
    #june-redesign {
        .h6 {
            font-size: @h5-size-mo;
        }

        .acct-summary-replenish {
            padding-right: 3px;
        }
    }
}

/* part of fix to bug 7233 */
#june-redesign {
    .account-summary-left-box {
        .row > div.font-lg {
            /*.h4;*/
            .bold;
        }
    }
}

@media screen and (min-width: 1171px) {
    #june-redesign {
        .main-sectional-container {
            width: 1200px;
        }
    }
}


@media screen and (min-width: @minimum-desktop-width) {
    #june-redesign {
        .special-border {
            border: 1px solid @dark-gray-base;
        }

        div.special-border + div.special-border {
            margin-left: 4px;
        }

        .account-summary-left-box {
            height: 401px;
            margin-left: 12px;
            margin-top: 4px;
            width: 33%;
        }

        /*div.special-border div.row {
            margin-left: 25px;
        }*/

        .account-above-chart {
            margin-left: 20px;
            margin-top: 20px;
        }

        section.row div.special-border {
            padding-top: 10px;
        }

        div.account-summary-left-box p.h3 {
            margin-bottom: 1px;
        }

        .account-summary-data-table tr {
            width: 100%;
        }

        .account-activity-right-cell {
            text-align: right;
        }

        .aa-right-data {
            text-align: right;
            /*padding-left: 10%;
            padding-right: 10%;*/
        }

        .account-activity-divider {
            border: 1px solid #000000;
        }

        .as-chart-box {
            margin-top: 4px;
            width: 710px;
        }

        .asumm-customer-data {
            padding-left: 0px;
            padding-right: 0px;
        }

        .account-summary-graph-box {
            margin-bottom: 20px;
            margin-top: 8px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: @mega-menu-screen-lg) {
    #june-redesign .special-border {
        height: 410px;
    }
    /*.special-border {
        height: 450px;
    }*/
}
