@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/variables.less';

:host {
    .title {
        height: 100px;
        padding-left: 15px;
        padding-right: 15px;

        @media @breakpoint-lt-sm {
            padding-left: 10px;
            padding-right: 10px;
        }

        @media @breakpoint-sm {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .row-width {
        @media @breakpoint-lt-sm {
            width: 100%;
        }

        @media @breakpoint-sm {
            width: 500px;
        }

        @media @breakpoint-md1 {
            width: 840px;
        }

        @media @breakpoint-md2 {
            width: 928px;
        }

        @media @breakpoint-lg {
            width: 1180px;
        }

        @media @breakpoint-gt-lg {
            width: 1260px;
        }
    }

    update-contact-info-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 420px;
        }

        @media @breakpoint-md2 {
            width: 440px;
        }

        @media @breakpoint-lg {
            width: 400px;
        }

        @media @breakpoint-gt-lg {
            width: 450px;
        }
    }

    update-mailing-address-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 420px;
        }

        @media @breakpoint-md2 {
            width: 440px;
        }

        @media @breakpoint-lg {
            width: 400px;
        }

        @media @breakpoint-gt-lg {
            width: 450px;
        }
    }

    auth-contacts-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md1 {
            width: 420px;
        }

        @media @breakpoint-md2 {
            width: 440px;
        }

        @media @breakpoint-lg {
            width: 380px;
        }

        @media @breakpoint-gt-lg {
            width: 360px;
        }
    }

    update-login-info-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 420px;
        }

        @media @breakpoint-lg {
            width: 260px;
        }

        @media @breakpoint-gt-lg {
            width: 280px;
        }
    }

    billing-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 420px;
        }

        @media @breakpoint-lg {
            width: 220px;
        }

        @media @breakpoint-gt-lg {
            width: 290px;
        }
    }

    rebill-amt-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 420px;
        }

        @media @breakpoint-lg {
            width: 320px;
        }

        @media @breakpoint-gt-lg {
            width: 300px;
        }
    }

    com-preferences-card {
        @media @breakpoint-lt-md {
            width: 100%;
        }

        @media @breakpoint-md {
            width: 420px;
        }

        @media @breakpoint-lg {
            width: 380px;
        }

        @media @breakpoint-gt-lg {
            width: 390px;
        }
    }
}
