@charset "UTF-8";
p {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 75%;
	color: #666666;
	line-height: 17px;
}
a {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}
.blue {
	color: #1A2E5A;
}
a:hover {
	color: #698210;
}
.footer {
	font-size: 10px;
	color: #999999;
}
.footer a {
	font-size: 10px;
	color: #666666;
}
.subheader {
	font-size: 15px;
	color: #678010;
}
.subheader2 {
	font-size: 14px;
	color: #A5B384;
}
.subheader3 {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #1A2E5A;
	font-weight:bold;
}
.jumpmenu {
	font-size: 9px;
}
.subheader4 {
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #666666;
}


