@import (reference) '../../transaction.common.less';
@import (reference) '../../../../styles/basic/links/anchor.less';

.menuItem {
    cursor: pointer;
}

:host {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: left;
    align-items: left;

    .criteria-size();
    .criteria-shape();
    .criteria-color();
    .criteria-text();
    .criteria-hover();
}
