@import (reference) '../../styles/variables.less';

:host {

    @select-state-width: 100px;

    mat-select {
        width: @select-state-width;
    }

    mat-divider {
        width: @width-divider;
    }

    a {
        font-size: 14px;
    }

    #violations-landing-image {
        padding-bottom: 15px;
    }
}
