@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/fonts.less';

:host {

    mat-divider {
        margin-top: 16px;
        width: @width-divider;
        margin-bottom: 20px;
    }


    h2 {
        font-size: 24px;
        font-weight: 600;
        font-family: @font-jost;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        font-family: @font-jost;
        margin-bottom: 0px;
    }

    section {
        margin-top: 32px;
    }

    img {
        display: block;
        margin-top: 8px;
        width: 100%;
    }
}
