@import (reference) '../../styles/themes.less';

.search-transactions-modal-size {
    width: 525px;

    @media @breakpoint-lt-sm {
        width: 100%;
    }
}

.search-transactions-info-text {
    font-size: 18px;
    margin-bottom: 24px;
}

.subtext-position {
    margin-top: 8px;
}
