@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/variables.less';
@import (reference) '../../../../styles/custom/spacing/sections.less';
@import (reference) '../../../../styles/custom/spacing/dividers.less';
@import '../../../../common/ui/containers/fxRow/details.less';

:host {
    h2 {
        @media @breakpoint-lt-md {
            margin-top: 16px;
        }
    }

    wizard-ui {
        padding: 10px 20px;

        [wizard-next] {
            text-transform: uppercase;
        }
    }

    wizard-ui+a {
        padding: 10px 20px;

        @media @breakpoint-lt-md {
            width: 100%;
            text-align: center;
        }
    }

    p,
    section {
        .refresh-2020.u-spacing__sectionToSection--marginBottom();
        display: flex;
        flex-direction: column;
    }

    mat-divider {
        width: 64px;
        .refresh-2020.u-spacing__divider--marginTopBottom();
    }

    .paymentAmountFlex {
        display: flex;
        flex-direction: row;
        place-content: flex-end space-between;
        align-items: flex-end;
    }

    .summary {
        height: 50px;
        padding: 16px;
        padding-bottom: 11px;
        font-size: 16px;
        line-height: 26px;
        margin: 0px -16px;
    }

    .paymentAmount {
        border-radius: 10px;
        background-color: @snuff-gray;
        font-weight: bold;
    }


    card-container {
        display: block;
    }


    .bottomPadding {
        padding-bottom: 21px;
    }

    .bottomPaddingForText {
        padding-bottom: 15px;
    }

    .acctDashboard {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
    }

    .print {
        @media @breakpoint-lt-md {
            visibility: hidden;
        }
    }

    .kioskProceed {
        margin-top: 10px;
    }

    .disclaimer {
        margin-top: 20px;
    }

    .content {
        padding-top: 18px;
    }

    .shared-alert-box {
        margin-top: -25px;
    }
}
