@import (reference) '../../../../../styles/themes.less';
@import (reference) '../../../../../styles/variables.less';
@import (reference) '../../../../../styles/custom/spacing/sections.less';
@import (reference) '../../../../../styles/custom/spacing/dividers.less';

:host {
    section > div {
        padding-bottom: 10px;
    }

    p {
        word-break: break-word;
    }

    .word-break-div {
        word-break: break-word;
        max-width: 50%;
    }
}
