@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/variables.less';

:host {
    mat-divider {
        width: @width-divider;
    }

    header {
        margin-bottom: 16px;
    }

    h2 {
        max-height: 70px;
        padding-bottom: 24px;
    }
}
