@import (reference) '../../themes.less';


mat-datepicker-toggle {
    //margin spacing is to pull the calendar icon into the input field
    margin-left: -44px;
    margin-top: 2px;
}

.mat-datepicker-input {
    padding-right: 44px;
}
