@import (reference) '../../../../styles/themes.less';
@import (reference) '../../../../styles/custom/spacing/sections.less';
@import (reference) '../../../../styles/variables.less';
@import (reference) '../../../../styles/custom/spacing/dividers.less';

:host {

    p {
        word-break: break-word;
    }

    .word-break-div {
        word-break: break-word;
        max-width: 50%;
    }

    wizard-ui {
        display: block;
        .refresh-2020.u-spacing__fieldToField--marginTop();

        [wizard-next] {
            text-transform: uppercase;
        }

        [wizard-cancel],
        [wizard-previous] {
            text-transform: capitalize;
        }
    }

    mat-divider {
        width: @width-divider;
        .refresh-2020.u-spacing__divider--marginTopBottom();
    }

    .summary {
        height: 50px;
        padding: 0px 16px 11px;
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        margin: 0px -16px;
    }

    .paymentAmount {
        border-radius: 10px;
        background-color: @snuff-gray;
    }
}
