@import (reference) '../../../../styles/themes.less';

:host {

    h2 {
        margin: 0px 0px;
        max-height: 70px;
        padding-bottom: 24px;
    }

    mat-divider {
        width: @width-divider;
    }

    .sectionContainer {
        max-width: @page-centered-max-width;
        height: calc(100vh - 88px);
    }

    .divContainer {
        max-width: @page-centered-max-width;
    }
}
