// These styles are here because the Refreshed header hasn't been created yet

#hctra-header.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

#hctra-header.header--hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
