<page-centered-container>

    <card-container>

        <header fxLayout="row" fxLayoutAlign="space-between end">
            <h2>
                {{cmsContent.Title}}
            </h2>
        </header>

        <mat-divider></mat-divider>

        <article>{{cmsContent.ShortDescription}}</article>
        <p>{{cmsContent.LongDescription}}</p>

        <section>
            <div fxLayout="row" fxLayoutAlign="space-between end" class="summary paymentAmount">

                <span>{{cmsContent.paymentAmount}}:</span>
                <currency [value]="paymentAmount"></currency>
            </div>
            <div class="summary">

                {{cmsContent.paymentReceivedOn}} {{paymentDate | dateWithTimeZone: 'dateTime4'}}

            </div>
        </section>

        <p> {{cmsContent.replenishAmt}}</p>

        <header fxLayout="row" fxLayoutAlign="space-between end">
            <h3>

                {{cmsContent.accountInfo}}
            </h3>
        </header>

        <mat-divider></mat-divider>

        <section fxLayout="column">

            <span translation-skip> {{cmsContent.accountName}}: {{actName}}</span>

            <span translation-skip>{{cmsContent.accountNumber}}: {{actNumber}}</span>
        </section>
        <div *ngIf="isOptIn">
            <header fxLayout="row" fxLayoutAlign="space-between end">
                <h3>

                    {{cmsContent.billingInfo}}
                </h3>
            </header>

            <mat-divider></mat-divider>
            <section *ngIf="billingInfo">

                <payment-display [billingType]="billingInfo.billingType" [bankDetails]="billingInfo.eft"
                                 [creditCard]="billingInfo.credit" [hideTitle]="true" [showAccountNumber]="true" [showNameOnCard]="true"
                                 [showLabels]="false">
                </payment-display>

                <article class="u-spacing__addressToPaymentDisplay--marginTop">
                    <address-display *ngIf="billingInfo && billingInfo.billingType"
                                     [address]="billingInfo.billingType === BillingType.Credit ? billingInfo.credit : billingInfo.eft"
                                     [international]="billingInfo.billingType === BillingType.Credit ? billingInfo.credit.international : billingInfo.eft.international"
                                     [showLabels]="false"
                                     [showEdit]="false">
                    </address-display>
                </article>

            </section>
        </div>
        <header fxLayout="row" fxLayoutAlign="space-between end">
            <h3>

                {{cmsContent.platesOrdered}}
            </h3>
        </header>

        <mat-divider></mat-divider>

        <section class="u-spacing--widthFill">

            <div fxLayout="row" fxLayoutAlign="start start">

                <div>
                    <fx-row [isLabel]="true" [backgroundColorClass]="'transparent-background'">
                        <div col-start class="fx-flex-auto fx-layout-row fx-layout-align-start-center">
                            <mat-label class="fx-flex-auto-shrink-more limited-flex">
                                {{cmsContent.platesRequested}}
                            </mat-label>
                        </div>
                    </fx-row>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start" class="u-spacing--widthFill" *ngFor="let plate of plates; index as i">
                <vehicle-cart-row-component [canRemove]="false" [isPlate]="true"
                                            [canEdit]="false" [ezTag]="plate">
                </vehicle-cart-row-component>

            </div>


        </section>

        <storefront-utility #storefront></storefront-utility>

        <section *ngIf="isKiosk; else nonkiosk">
            <action-buttons (main)="proceed(wizardUi)">
                <span action-main>PROCEED</span>
            </action-buttons>
            <wizard-ui #wizardUi></wizard-ui>
        </section>

        <ng-template #nonkiosk>

            <section fxLayout="row" fxLayout.lt-md="column">

                <wizard-ui [reverseOrder]="true" (next)="nextStep($event)">
                    <span wizard-next>
                        {{cmsContent.accountDashboard}}
                    </span>
                </wizard-ui>

                <a (click)="viewVehiclesClick()">{{cmsContent.manageMyVehicles}}</a>

            </section>

        </ng-template>


    </card-container>

</page-centered-container>
