<p ng-message="required" class="help-block">Please enter a valid driver's license number</p>
<p ng-message="maxlength" class="help-block">Please enter a valid driver's license number</p>
<p ng-message="numericTexasDl" class="help-block">Please enter a valid driver's license number</p>
<p ng-message="firstDigitLessThanFiveTexasDl" class="help-block">Texas driver's license start with numbers between 0 and 4</p>
<p ng-message="eightDigitTexasDl" class="help-block">Please use an 8 digit number</p>
<p ng-message="alphaNumeric" class="help-block">Please use a combination of alphabets and numbers only</p>
