@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

// lesshint-disable-next-line emptyRule
ads-component {
    display: block;

    div.adItem {
        .t-body--fontFamily();
        text-align: center;
        height: 100%;
        width: 100%;
        color: @valentino-purple;

        &>img {
            width: 100%;
        }

        &>div:first-of-type {
            padding-top: 30px;
        }

        &>div:last-of-type {
            padding-bottom: 36px;
        }

        mat-divider {
            width: 70px;
            margin: 0px auto 0px auto;
            margin-top: 36px;
        }

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 40px;
            line-height: 58px;
            margin: 0px 0px 15px 0px;
            color: @valentino-purple;
        }

        h2 {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
            margin: 0px 0px 15px 0px;
            color: @valentino-purple;
        }

        p {
            margin: 0px 0px 20px 0px;
            color: @valentino-purple;
        }
    }

    picture-container.adItem {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        align-content: center;

        //this 'stacks' picture and content by placing
        //into same grid space
        &>picture,
        &>[content-container] {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        .t-body--fontFamily();
        text-align: center;
        height: 100%;
        width: 100%;
        color: @valentino-purple;

        @media @breakpoint-lt-md {
            display: block;
        }

        &>picture>img {
            width: 100%;
        }

        mat-divider {
            width: 70px;
            margin: 0px auto 0px auto;

            @media @breakpoint-lt-md {
                margin-top: 36px;
            }
        }

        &>[content-container] {


            width: calc(50% - 228px);
            margin: 0px 114px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            @media @breakpoint-lt-md {
                width: 100%;
                margin: 0px auto 0px auto;
            }

            &>p {
                padding-top: 10px;

                h1 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 58px;
                    margin: 0px 0px 15px 0px;
                    color: @valentino-purple;
                }

                h2 {
                    font-size: 24px;
                    line-height: 29px;
                    font-weight: bold;
                    margin: 0px 0px 15px 0px;
                    color: @valentino-purple;
                }

                p {
                    margin: 0px 0px 20px 0px;
                    color: @valentino-purple;
                }
            }
        }
    }
}
