@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/custom/spacing/sections.less';

@import (reference) '../../styles/custom/spacing/dividers.less';

:host {

    h2 {
        @media @breakpoint-lt-md {
            margin-top: 16px;
        }
    }

    wizard-ui {
        [wizard-next] {
            text-transform: uppercase;
        }
    }

    wizard-ui + a {
        padding: 10px 20px;

        @media @breakpoint-lt-md {
            width: 100%;
            text-align: center;
        }
    }

    p,
    section {
        .refresh-2020.u-spacing__sectionToSection--marginBottom();
    }

    mat-divider {
        width: 64px;
        .refresh-2020.u-spacing__divider--marginTopBottom();
    }

    .summary {
        height: 50px;
        padding: 16px;
        padding-bottom: 11px;
        font-size: 16px;
        line-height: 26px;
        margin: 0px -16px;
    }

    .paymentAmount {
        border-radius: 10px;
        background-color: @snuff-gray;
        font-weight: bold;
    }
}
