@import (reference) '../../styles/themes.less';
@import (reference) '../../styles/variables.less';

:host {
    h2 {
        margin: 0px 0px;
        max-height: 70px;
        padding-bottom: 16px;
    }

    mat-divider {
        width: @width-divider;
    }

    .editButton {
        font-weight: 500;
        .t-header--fontFamily;
        text-align: right;
        padding-top: 5px;
    }
}
