@import (reference) '../../themes.less';


.refresh-2020 {
    aside {
        .t-body--color(@theme-light);
        .t-body--fontFamily;
        font-weight: 600;
        font-size: 16px;
        margin: 0px;
    }
}
