@import (reference) '../../themes.less';


.refresh-2020 {
    span {
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0px;
    }
}
