@import (reference) '../../../../../styles/variables.less';

:host {
    mat-divider {
        width: @width-divider;
    }

    aside[role='note'] {
        font-size: 12px;
        line-height: 15px;
        margin-top: 6px;
        color: @boulder-gray;
    }

}

section.verify-option {
    margin-top: 22px;
}
