@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/themes.less';

:host {
   h2 {
        max-height: 70px;
    }

    mat-divider {
        width: @width-divider;
    }

    .totalAmountLabel {
        .t-header--color(@theme-light);
        font-weight: 700;
    }

    .totalAmountValue {
        text-align: right;
        font-weight: 700;
    }
}
