<page-centered-container class="refresh-2020">

    <enter-verification-code *ngIf="config" (tryAnotherWayEmit)="tryAnotherWay()"
                             (verifyEmit)="verify()"
                             [cmsInfo]="cmsData"
                             [contactInfo]="isEmail ? uiRouterGlobals.params.email : config.phoneNumber"
                             [acctId]="config.acctId"
                             [source]="parent.source"
                             [channel]="uiRouterGlobals.params.channel"></enter-verification-code>

    <card-container *ngIf="isEmail">
        <article [innerHtml]="cmsData.LongDescription | safeHtml"></article>
    </card-container>

    <card-container *ngIf="!isEmail">
        <article [innerHtml]="cmsData.ShortDescription | safeHtml"></article>
    </card-container>

</page-centered-container>
