@import '../bootstrap/variables';
@import 'site-variables';

@media screen and (max-width: @maximum-mobile-width) {
    .desktopOnly {
        display: normal;
    }
}

.mobileOnly {
    display: none;
}

.container {
    min-width: 1200px !important; /*min-width: 990px !important;*/
}
