@import 'site-variables';

@font-face {
    font-family: @avenir-light;
    font-style: normal;
    font-weight: normal;
    src: local(@avenir-light), url('/Content/fonts/AvenirLTStd-Light.woff') format('woff'), url('/Content/fonts/AvenirLTStd-Light.otf') format('opentype');
}

@font-face {
    font-family: @avenir-regular;
    font-style: normal;
    font-weight: normal;
    src: local(@avenir-regular), url('/Content/fonts/AvenirLTStd-Book.woff') format('woff'), url('/Content/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
    font-family: @avenir-medium;
    font-style: normal;
    font-weight: normal;
    src: local(@avenir-medium), url('/Content/fonts/AvenirLTStd-Medium.woff') format('woff'), url('/Content/fonts/AvenirLTStd-Medium.otf') format('opentype');
}

@font-face {
    font-family: @avenir-heavy;
    font-style: normal;
    font-weight: normal;
    src: local(@avenir-heavy), url('/Content/fonts/AvenirLTStd-Heavy.woff') format('woff'), url('/Content/fonts/AvenirLTStd-Heavy.otf') format('opentype');
}

@font-face {
    font-family: @avenir-roman;
    font-style: normal;
    font-weight: normal;
    src: local(@avenir-roman), url('/Content/fonts/AvenirLTStd-Roman.woff') format('woff'), url('/Content/fonts/AvenirLTStd-Roman.otf') format('opentype');
}

@font-face {
    font-family: @glyphicons-halflings;
    src: url('/Content/fonts/glyphicons-halflings-regular.eot');
    src: url('/Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/Content/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
