@import '../bootstrap/variables';
/* ==========================================================================
	General Variables
   ========================================================================== */

/* Colors */
@dark-purple-base: #381462; //47286c;
@dark-purple-base-rgba: rgba(56, 20, 98, 1); //(71, 40, 108, 1);
@dark-gray-base: #34353a;
@light-gray-base: #eff0f1;
@gray-base: #e5e5e5;
@gray-suspended-account: #efeff4;
@gold-base: #ffdd09;
@black-base: #000000;
@hctra-gold: @gold-base; //TODO: Check if this is correct
@menu-light-gray-base: #f8f8f8;
@menu-dark-gray-base: #eeeeee;
@menu-dark-gray-nav-item: #dcdcdc;
@quick-links-label-bar-base: #34353a;
@quick-links-list-bg-base: #fcfdfd;
@quick-links-line: #676767;
@text-background-gray: #eff0f1;
@white-base: #ffffff;
@border-gray: #cdcccb;
@grid-alt-row-color: #fbfbfb;
@error-message-color: #b94a48;
@dark-red-color: #c21e25;
@notification-box-bright-orange: #f7931d;
@black-navbar-links: #333333;
@module-button-hover-bg: #dddddd;
@selected-date-button: #39b3d7;
@form-control-text-color: #555555;
@spinner-purple: #611eb8;

// Grid Button Colors
@very-light-hctra-purple: #f2ecf8;
@light-hctra-purple: #a27dcf;

@light-gray-text: #878787;
@dark-gray-text: @black-navbar-links; //#545454;
@white-text: #ffffff;
@dark-purple-text: @dark-purple-base; //47286c;
@link-blue-text: #428bca;
/* End Colors */


/* Global Sizing */
@button-height: 32px;
/* End Global Sizing */


/* Margins & Padding */
@border-side-padding-md: 50px;
@border-side-padding-lg: 50px;
@border-top-bottom-padding: 40px;
@navbar-height: 60px;
@nav-margin-top: 54px;
@container-padding: 22px;
@footer-mobile-height: 150px;
@footer-desktop-padding: 5px;
@footer-desktop-height: 42px;
/* End Margins & Padding */

/* Font */
@first-menu-item-font-size: 10.5pt;
@avenir-regular: 'Avenir LT Std 45 Book Regular';
@avenir-light: 'Avenir LT Std 35 Light Regular';
@avenir-medium: 'Avenir LT Std 65 Medium Regular';
@avenir-heavy: 'Avenir LT Std 85 Heavy Regular';
@avenir-roman: 'Avenir LT Std 55 Roman Regular';
@glyphicons-halflings: 'Glyphicons Halflings';


//Warning: Changes to the sizes may require updating the CMS css file
@big-size-mo: 17.6pt;
@h1-size-mo: 16.5pt;
@h1-half-size-mo: 15.3pt;
@h2-size-mo: 14.2pt;
@h2-half-size-mo: 13.14pt;
@h3-size-mo: 11.97pt;
@h3-half-size-mo: 11.55pt;
@h4-size-mo: 11.24pt;
@h4-half-size-mo: 10.5pt;
@h5-size-mo: 9.77pt;
@h5-half-size-mo: 9.03pt;
@h6-size-mo: 8.3pt;
@small-size-mo: 7.57pt;

@big-size-small-screen: 16pt;
@h1-size-small-screen: 15.02pt;
@h1-half-size-small-screen: 13.86pt;
@h2-size-small-screen: 12.705pt;
@h2-half-size-small-screen: 11.235pt;
@h3-size-small-screen: 9.765pt;
@h3-half-size-small-screen: 9.345pt;
@h4-size-small-screen: 8.925pt;
@h4-half-size-small-screen: 8.505pt;
@h5-size-small-screen: 8.19pt;
@h5-half-size-small-screen: 7.77pt;
@h6-size-small-screen: 7.455pt;
@small-size-small-screen: 6.72pt;

@big-size-do: 20pt;
@h1-size-do: 18pt;
@h1-half-size-do: 17pt;
@h2-size-do: 16pt;
@h2-half-size-do: 15pt;
@h3-size-do: 14pt;
@h3-half-size-do: 13pt;
@h4-size-do: 12pt;
@h4-half-size-do: 11.5pt;
@h5-size-do: 11pt;
@h5-half-size-do: 10pt;
@h6-size-do: 9pt;
@small-size-do: 8pt;

@iphone5-size: 340px;
@iphone5-size-max: (@screen-xs - 1);

/* End Font */

/* Screen Sizing */
@minimum-desktop-width: @screen-sm;
@maximum-mobile-width: @screen-xs-max;
/* End Screen Sizing */


@container-lg-padding: 44px;
@max-breakpoint: 1200px;
/*@max-breakpoint: 1200px;*/

/* Z Indices */
@mega-menu-z-index: 1000;
@input-dropdown-z-index: @mega-menu-z-index - 1;
