@import (reference) '../../../../styles/variables.less';

:host {
    form {
        padding-bottom: 60px;
    }

    mat-divider {
        width: @width-divider;
    }

    h2 {
        max-height: 70px;
    }
}
