@import '../../common/ui/containers/fxRow/details.less';
@import (reference) '../../styles/themes.less';

form {
    max-width: @page-centered-max-width;
}

.mat-divider {
    width: @width-divider;
}

.fontStandard {
    font-size: 12px;
    font-weight: bold;
}

.display {
    width: 800px;
}

.download-icon {
    margin-top: -5px;
    padding-right: 8px;
}

.download-link {
    .t-header--fontFamily();
    font-size: 16px;
    font-weight: 500;
}

a.disabled {
    opacity: 0.5;
    pointer-events: none;
}

app-toaster-container {
    line-height: 1.3;
    font-size: 10.5pt;
}
